/* cardType */
body {
    background-color: #f3f3f3;
}
.cardType {
    margin: 100px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

/* cardType01 */

.cardType01 {
    font-family: 'GmarketSans';
    padding: 60px 0;
}
.cardType01 h2 {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 7px;
}
.cardType01 p {
    font-weight: 200;
    font-size: 26px;
    line-height: 1.28;
    margin-bottom: 40px;
}

/* float을 이용한 레이아웃 */
/* .card-wrap {
    overflow: hidden;
}
x {
    float: left;
    width: 387px;
}
.card-wrap > div:last-child {
    margin-right: 0;
} */

/* flex를 이용한 레이아웃 */
.cardType01 .card-wrap {
    display: flex;
    justify-content: space-between;
}
.cardType01 .card-wrap > div {
    width: 387px;
}
.cardType01 .card .card-title {
    display: block;
    font-size: 32px;
    /* 한줄 효과 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* //한줄 효과 */
}
.cardType01 .card .card-desc {
    display: block;
    font-size: 20px;
    font-weight: 300;
    /* 두줄 효과 */
    overflow: hidden;
    display: -webkit-box;   /* 벤더 프리픽스 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* //두줄 효과 */
}
.cardType01 .card .card-keyword {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.5;
}


/* float */
/* .card-wrap {
    overflow: hidden;
}
.card-wrap .card {
    float: left;
}
.card-wrap .card:last-child {
    margin-right: 0;
} */

/* flex */
/* .card-wrap {
    display: flex;
} */

/* grid */
/* .card-wrap {
    display: grid;
    grid-template-columns: repeat(4, 285px);
    gap: 20px;
} */



/* cardType02 */

.cardType02 {
    font-family: 'S-CoreDream';
    padding: 150px 0;
}
.cardType02 h2 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}
.cardType02 p {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
}
.cardType02 .card-wrap {
    display: flex;
}
.cardType02 .card {
    width: 285px;
    height: 319px;
    margin: 40px 20px 0 0;
    padding: 15px 15px 16px 14px;
    border-radius: 5px;
    border: solid 1px #e6e6e6;
}
.cardType02 .card-title {
    font-size: 24px;
    font-weight: 500;
    color: #000;
}
.cardType02 .card-desc {
    margin: 10px 0 6px 1px;
    font-size: 14px;
    font-weight: 300;
    /* 두줄 효과 */
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* //두줄 효과 */
}
.cardType02 .card-word span{
    margin: 6px 0 0 4px;
    padding : 4px 14px 3px 15px;
    font-size:10px;
    border-radius: 20px;
    border: solid 1px #000;
    background-color: #000;
    color: #fff;
}

/* cardType03 */

.cardType03 {
    padding: 100px 0;
    font-family: 'NanumSquare';
}
.cardType03 h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 4px;
}
.cardType03 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.28;
    margin-bottom: 50px;
}
.cardType03 .popular {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.28;
    position: absolute;
    right: 0; top: 180px;
}
.cardType03 .card-wrap .card {
    margin-bottom: 28px;
}
.cardType03 .card-wrap .card .card-img {
    width: 285px;
    height: 185px;
    position: absolute;
}
.cardType03 .card-wrap .card .right {
    padding-left: 305px;
}
.cardType03 .card-wrap .card .card-category {
    font-size: 14px;
    font-weight: 800;
    padding: 4px 14px 2px 15px;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
    display: inline-block;
}
.cardType03 .card-wrap .card .card-category.red {
    background: #ff4646;
}
.cardType03 .card-wrap .card .card-category.blue {
    background-color: #5465ff;
}
.cardType03 .card-wrap .card .card-category.green {
    background-color: #11c865;
}
.cardType03 .card-wrap .card .card-title {
    display: block;
    font-weight: bold;
    font-size: 26px;
}
.cardType03 .card-wrap .card .card-desc {
    font-size: 16px;
    line-height: 1.53;
    color: #555;
    font-weight: 300;
    margin-top: 10px;
}
.cardType03 .card-wrap .card .right .card-date {
    display: block;
    color: #555;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
    text-decoration: underline;
    margin-top: 20px;
}

/* cardType04 */

.cardType04 {
    padding: 100px 0;
    font-family: 'S-CoreDream';
}
.cardType04 h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 40px;
}
.cardType04 .card-wrap {
    display: flex;
    justify-content: space-between;
}
.cardType04 .card-wrap > div {
    width: 387px;
}
.cardType04 .card-wrap .card {
    height: 553px;
    margin: 40px 20px 0 0;
    border-radius: 20px;
    background-color: #f2f2f2;
}
.cardType04 .card-wrap .card .card-desc {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #a9a9a9;
    display: inline-block;
    margin-top: 50px;
    margin-left: 40px;
}
.cardType04 .card-wrap .card .card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: #000;
    display: block;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 117px;
}
.cardType04 .card-wrap .card .card-img {
    width: 346px;
    height: 310px;
    object-fit: contain;
    margin-top: 48px;
    margin-bottom: 50px;
    margin-left: 41px;
}
