/* imageType */
body {
    background-color: #f3f3f3;
}
.imageType {
    margin: 100px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

/* imageType01 */

.imageType01 {
    font-family: 'GmarketSans';
    padding: 150px 0;
}
.imageType01 h2 {
    font-size: 50px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 43px;
}
.imageType01 .card-wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.imageType01 .card {
    position: relative;
}
.imageType01 .img-container {
    width: 530px;
    height: 141px;
    bottom: 30px;
    right: 15px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
}
.imageType01 .card-title {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}
.imageType01 .card-desc {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    color: #fff;
    display: block;
}
.imageType01 .card-keyword {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: underline;
}

/* imageType02 */

.imageType02 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}
.imageType02 h2 {
    margin: 0 399px 43px 0;
    font-size: 50px;
    font-weight: 500;
    text-align: left;
    color: #000;
}
.imageType02 .card-wrap {
    display: flex;
    gap: 20px;
}
.imageType02 .card {
    position: relative;
}
.imageType02 .img-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.imageType02 .card-title {
    width: 161px;
    height: 35px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    text-align: left;   
    color: #fff;
}
.imageType02 .card-button {
    display: inline-block;
    width: 102px;
    height: 26px;
    margin: 19px 29px 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

/* imageType03 */

.imageType03 {
    padding: 100px 0;
    font-family: GmarketSansTTF;
}
.imageType03 h2 {
    font-size: 50px;
    font-weight: 500;
    color: #000;
    margin-bottom: 50px;
}
.imageType03 .card-wrap {
    display: grid;
    grid-template-columns: repeat(4, 285px);
    grid-template-rows: 285px;
    gap: 20px;
}
.imageType03 .card-wrap .card:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.imageType03 .card {
    position: relative;
}
.imageType03 .card-container {
    position: absolute;
}
.imageType03 .card-title1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #000;
}
.imageType03 .card-title2 {
    font-size: 25px;
    font-weight: 500;
    color: #000;
}
.imageType03 .card-desc {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    /* 두줄 효과 */
    overflow: hidden;
    display: -webkit-box;   /* 벤더 프리픽스 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* //두줄 효과 */
}

