// #mainCont
// #aboutCont
// #referCont
// #scriptCont
// #portCont

// #mainCont
#mainCont {
    background-color: #000;
    height: 100vh;
    color: #fff;
    font-family: 'saol';
    font-size: 9vw;
    line-height: .91;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    br {
        display: none;
    }
}

@media (max-width: 800px){
    #mainCont {
        font-size: 15vw;
        line-height: 0.9;

        br {
            display: block;
        }
    }
}

//main2
#mainCont2 {
    background-color: #F4F1EF;
    height: 100vh;
    color: #000;
    font-family: 'saol';
    font-size: 6vw;
    text-align: center;
    line-height: .91;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    br {
        display: none;
    }
    
    .main__cont2 {
        margin-top: 450px;
    }
    img {
        width: 300px; 
        z-index: 10;
        display: flex;
        position: absolute;
        margin-top: -160px;
    }
    .circle {
        width: 2050px;
        height: 2050px;
        border: 3px solid #E9E3DF;
        border-radius: 50%;
        position: fixed;
        margin-top: 1700px;
        z-index: 1;
    }
}

@media (max-width: 800px){
    #mainCont2 {
        font-size: 15vw;
        line-height: 0.9;

        br {
            display: block;
        }
        img {
            width: 200px;
        }
    }
}

//about
#aboutMain .container {
    width: 75vw;
    margin: 0 auto;

    .aboutTitle {
        font-family: "saol";
        font-size: 6vw;
        line-height: 1.2;
        color: #030406;
        text-transform: uppercase;
        padding: 260px 0px;
    }
    .aboutCont {
        font-family: "Chosunilbo_myungjo";
        margin-bottom: 250px;

        h3 {
            padding-bottom: 35px;
            font-size: 1.2vw;
        }
        p {
            font-size: 1vw;
        }
        &.about1 {

            img {
                width: 100%;
                margin-bottom: 60px;
            }
        }
        &.about2 {
            overflow: hidden;

            img {
                float: left;
                width: 70%;
            }
            .aboutTxt {
                float: left;
                width: 27%;
                margin-left: 3%;
            }
        }
        &.about3 {
            overflow: hidden;

            img {
                float: right;
                width: 57%;
                margin-left: 3%;
            }
            .aboutTxt {
                float: left;
                width: 40%;
            }
        }
    }
}

@media (max-width: 1100px) {
    #aboutMain {

        .container {
            width: 80vw;

            .aboutCont {
                font-family: "Chosunilbo_myungjo";
                margin-bottom: 320px;
    
                img {
                    width: 100%;
                }
    
                h3 {
                    padding-bottom: 32px;
                    font-size: 1.2vw;
                }
                p {
                    font-size: 1vw;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    #aboutMain {

        .container {
            width: 95%;

            .aboutTitle {
                font-size: 10vw;
                padding: 200px 0;
            }
            .aboutCont {
                font-family: "Chosunilbo_myungjo";
                margin-bottom: 200px;

                img {
                    width: 100%;
                }
                h3 {
                    padding-bottom: 30px;
                    font-size: 2.5vw;
                }
                p {
                    font-size: 2.2vw;
                }
                img {
                    margin-bottom: 350x;
                }
                
                &.about1 {
                    
                    img {
                        margin-bottom: 40px;
                    }
                }

                &.about2 {

                    img {
                        float: none;
                        width: 100%;
                        margin-bottom: 40px;
                    }
                    .aboutTxt {
                        float: none;
                        width: 100%;
                        margin-left: 0;
                    }
                }
                &.about3 {
                    
                    img {
                        float: none;
                        width: 100%;
                        margin-left: 0;
                        margin-bottom: 40px;
                    }
                    .aboutTxt {
                        float: none;
                        width: 100%;
                    }
                }
            }
        }
    }
}

